{% extends 'admin/home.html'%}
{% load static %}
{% load i18n %}

{% block content %}
<section class="slider_section ">
    <div class="container ">
        <div class="login-container">
        <form method="post">
        {% csrf_token %}
            <h1>{% trans "User Detail" %}</h1>
            {% if messages %}
            {% for message in messages %}
              <p class="text-success text-center">{{ message }}</p>
            {% endfor %}
            {% endif %}
            <table class="table">
                {% for field in form %}
                    {% if field.name != "csrfmiddlewaretoken" %}
                        <tr>
                            <td class="table-col-text-left">
                                <label for="{{ field.id_for_label }}" class="col-form-label">
                                    <div class="white-label">
                                        {% trans field.label %}:
                                    </div>
                                </label>
                            </td>
                            <td>
                                {% if field.label == "Staff status" %}
                                    <input  type="checkbox"
                                    class="form-check-input large-checkbox"
                                    name="{{ form.is_staff.name }}"
                                    id="{{ form.is_staff.id_for_label }}"
                                    {% if form.is_staff.value %}checked{% endif %}
                                    {% if not request.user.is_superuser %}disabled{% endif %}
                                    required>
                                {% else %}
                                    <div class="input-group">
                                    <input  type="{{ field.field.widget.input_type }}"
                                            class="form-control"
                                            name="{{ field.name }}"
                                            id="{{ field.id_for_label }}"
                                            value="{{ field.value|default:''}}" 
                                            required>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>        
            <button type="submit" class="btn btn-primary">{% trans "Save changes" %}</button>
        </form>
        <p class="mb-0">--------or--------</p>
        <form method="get" action="{% url 'home:admin_user_list' %}">
            <button type="submit" class="btn btn-secondary">{% trans "Return user list" %}</button>
        </form>
        </div>
    </div>
</section>
{% endblock %}
