{% extends 'homepage/base.html'%}
{% load static %}
{% load i18n %}

{% block content %}
    <!-- Header section -->
    <!-- slider section -->
    <section class="slider_section ">
            <div class="container ">
                <div class="col-md-7 col-lg-6 ">
                  <div class="title">
                    <h1> HyNiu Food & Drink </h1>
                    <p> {% trans " We are Hyniu restaurant, managed by Le Quang Huy and Doan Quang Liu with a chain of 507 stores worldwide."%} </p>
                    <p> {% trans "Welcome to Hyniu Food & Drink! "%} </p>
                  </div>
                </div>
            </div>
    </section>
    <!-- end slider section -->
  </div>
    <!-- Footer section-->
{% endblock %}
